.navBar{
  display: flex;
  background-color: #F5FFC6;
  padding: 1%;
  border-radius: 12px;
  
}



a{
  color: #251605;
  font-size: 25px;
  text-align: center;
}

a:hover{
  color: #28502E;
}

:root{
  background-color: #8cb04e;
}

